<h1>We need</h1>

<ul class="list-group">
    <li class="list-group-item noborder" ng-repeat="group in groups" ng-if="group.haveAmount < group.needAmount">
        <span class="pull-right">{{group.needAmount - group.haveAmount}}</span>
        {{group.name}}
    </li>
</ul>

<h1>We have</h1>

<ul class="list-group">
    <li class="list-group-item noborder" ng-repeat="group in groups" ng-if="group.haveAmount > 0">
        <span class="pull-right">{{group.haveAmount}}</span>
        {{group.name}}
    </li>
</ul>
